<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcode Attendance</title>
</head>
<body>
<h1>Barcode Attendance</h1>

<form action="" method="post">
    {% csrf_token %}
    <label for="id_number"></label><input type="text" name="code" id="code">
</form>

{% if attendance %}
    <table id="list_user_info">
    <tr>
        <th>ID Number</th>
        <th>Full Name</th>
    </tr>
    <tr>
        <td>{{ attendance.person.code }}</td>
        <td>{{ attendance.person.first_name }}</td>
    </tr>

</table>

{% else %}
<p>{{ error }}</p>
{% endif %}
</body>
</html>